.blue{color:blue;}
.green{color:green;}
.red{color: red;}
.bgcyellow{background-color:rgb(255, 255, 0);}
.pb{color: blue; background-color: pink;}

.t1{width: 100%; border-collapse: collapse;}
.td1{border:1px solid #000; background-color: rgb(109, 148, 253);}
.td1a{border:1px solid #000;}
.note{border:3px solid green;}
.td1b{border:3px solid #000;}
.t2{ width: 100%; border-collapse: collapse; border: 2px solid #000;}
.td2{border: 2px solid #000;}
.t3{width: 70vw; border-collapse: collapse;}

.homepage{width: 100%; height: 100%;}

.right {float: right; margin-right: 30px;}
.예시오른쪽 {float:right; margin-left: 5vw;}
.예시왼쪽 {float: left; margin-right: 5vw;}
